@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Work+Sans&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffc52;
}

main {
  position: relative;
  z-index: 10;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 2% 0px 2%;
  position: absolute;
  width: 96%;
}

.header-hamburger {
  padding: 20px;
  cursor: pointer;
  z-index: 20;
}

.header-hamburger span {
  width: 36px;
  height: 2px;
  background-color: #000000;
  display: flex;
  opacity: 0.6;
  margin-top: 5px;
}

.header-hamburger .header-hamburger-item-2 {
  margin-top: 10px;
}

.header-title {
  z-index: 20;
}

.header-title h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  margin-top: 12px;
}

.header-cart {
  display: flex;
  padding: 20px;
  position: relative;
  z-index: 20;
}

.header-cart div {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  position: relative;
  top: -2px;
  margin-left: 5px;
  cursor: pointer;
}

.header-nav {
  display: none;
}

.header-socials {
  display: none;
}

section {
  padding: 30px;
}

.hero-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
  word-spacing: 0.8rem;
  margin: 0;
  margin-top: 15vh;
}

.hero-section p {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  margin: 0;
  margin-top: 3rem;
}

.header-nav {
  position: fixed;
  background-color: #fffc52;
  top: 0;
  left: 0;
  width: 96vw;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  z-index: 10;
}

.header-nav ul {
  list-style: none;
  display: flex;
  position: relative;
  top: 30vh;
  left: 0;
  flex-direction: column;
  text-align: center;
}

.header-nav ul li {
  margin: 1.1vh 0px;
}

.header-nav ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
}

.header-nav ul li a:visited {
  color: #000;
}

.header-socials {
  position: fixed;
  z-index: 20;
  bottom: 5vh;
  left: 4vw;
  width: 90vw;
  justify-content: center;
  align-content: center;
}

.header-socials svg {
  margin: auto 10px;
}

.info-banner-container {
  margin: 0;
  margin-top: 4vh;
}

.info-banner-container .info-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  position: relative;
}

.info-banner-container .info-section-one img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.info-banner-container .info-section-one .block-image-one {
  background-color: #fffc52;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 0;
}

.info-banner-container .info-section-one .block-image-two {
  background-color: #fffc52;
  position: absolute;
  right: 0;
  width: 50%;
  height: 0;
  z-index: 0;
  bottom: 0px;
}

.info-banner-container .info-section-two p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 30px;
  padding-top: 5vh;
}

.info-banner-container .info-section-two h1 {
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  line-height: 5rem;
  margin: 20px
}

.info-dates-container {
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
}

.info-dates-container h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 3.3rem;
  line-height: 3rem;
}

.info-dates-container div {
  width: 5rem;
  height: 12px;
  background-color: #000;
  margin: 20px 0px;
}

.info-dates-container h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 4.2rem;
  line-height: 4.2rem;
}

.info-dates-container p {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.special-info {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
}

.special-info .info-section-two p {
  padding-top: 0;
  margin-bottom: 6vh;
}

.info-container h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 5rem;
  line-height: 5rem;
}

.action-buy-tickets {
  width: 100%;
  height: 30vh;
  margin-top: 6rem;
}

.action-buy-tickets .buy-tickets {
  background-color: #000;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-buy-tickets .buy-tickets a {
  color: #fffc52;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.footer-container {
  margin: 8rem 0px;
}

.footer-container .socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer-container .socials li {
  padding: 20px;
}

.footer-container .socials li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  color: #000;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .header-hamburger {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 0;
  }

  .header-nav {
    display: flex;
    background-color: transparent;
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
  }

  .header-nav ul {
    top: 0;
    flex-direction: row;
    margin: 0;
  }

  .header-nav ul li {
    margin: auto 10px;
  }

  .header-nav ul li a {
    font-size: 1.1rem;
  }

  .header-socials {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 1;
    bottom: 0;
    width: auto;
    left: 0;
  }

  .header-title {
    position: absolute;
    left: 2vw;
  }

  .header-cart {
    margin-right: 2vw;
  }

  .header-socials svg {
    margin: auto 5px;
  }

  .hero-section {
    margin: auto 2vw;
    overflow: hidden;
  }

  .hero-section h1 {
    font-size: 6rem;
    line-height: 6rem;
    width: 80vw;
    text-align: left;
    overflow: hidden;
  }

  .info-banner-container {
    display: flex;
    flex-direction: row;
  }

  .info-banner-container .info-section-one, .info-banner-container .info-section-two {
    flex: 1;
  }

  .special-info {
    flex-direction: row-reverse;
  }

  .info-banner-container .info-section-two p {
    padding-top: 0;
  }
}

@media screen and (min-width: 1224px) {

  .hero-section {
    margin: 5vh 20vh 20vh 20vh;
    padding-top: 5vh;
  }

  .hero-section h1 {
    margin-top: 15vh;
    width: 80%;
    font-size: 7rem;
    word-spacing: 1rem;
    line-height: 7rem;
  }

  .info-banner-container {
    width: 80%;
  }

  .info-banner-container, .info-dates-container, .info-container, .action-buy-tickets {
    max-width: 1540px;
    margin: 0 auto;
  }

  .info-banner-container .info-section-one {
    margin: 0;
    flex: 1.5;
  }

  .info-banner-container .info-section-one img {
    height: 70vh;
  }

  .info-banner-container .info-section-two p {
    padding: 1rem;
    text-align: justify;
    margin-left: 4vw;
    padding-top: 0;
  }

  .info-dates-container h2 {
    font-size: 8rem;
    line-height: 8rem;
  }

  .info-dates-container div {
    height: 2vh;
    width: 8rem;
  }

  .info-dates-container h1 {
    font-size: 9rem;
    line-height: 9rem;
  }

  .special-info .info-section-two p {
    flex-direction: row-reverse;
    margin-left: 0;
  }

  .action-buy-tickets .buy-tickets {
    margin-top: 10vh;
  }
}